extend default

block content

  p CONTACT INFO

  unless auth
    a(href='/auth/facebook')
      img(src='/images/fb_login.png', alt='Login with Facebook')

    a(href='/auth/twitter')
      img(src='/images/twitter_login.png', alt='Login with Twitter')
